<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="icon" href="{{ url_for('static', filename='c.png') }}">
  <meta name="viewport" content="width=device-width">
  <title>Jolly</title>
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
</head>

<body>

  <div style="display:flex;  height:20vh; text-align:center; justify-content: center;">
    <h1 style="color:green;">Merry </h1>&nbsp;&nbsp;
    <h1 style="color:red; ">Christmas</h1>
  </div>
  

  <div style="text-align:center;"> 
    <h2>  
      The Christmas Song of The Day
    </h2>
  </div>
  
  <div style="text-align: center;">
    <iframe width="420" height="345" src={{ christmas }}>
    </iframe>
  </div>
  
 
</body>

</html>
